<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.didimdol.skt.kimjh.onix">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <!-- 지도사용 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 지도사용 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.didimdol.skt.kimjh.onix.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.didimdol.skt.kimjh.onix.permission.C2D_MESSAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/onix_icon_144"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".Artist.DetailArtistActivity" />
        <activity android:name=".Shop.DetailShopActivity" />
        <activity android:name=".Board.BoardWriteActivity" />
        <activity android:name=".Board.BoardReadActivity" />
        <activity
            android:name=".Menu.MenuLogin.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Menu.MenuCustomer.CustomerActivity" />
        <activity android:name=".Menu.InstructionActivity" />
        <activity android:name=".Menu.MenuChoice.ChoiceActivity" />
        <activity android:name=".Menu.MenuDiscount.DiscountActivity" />
        <activity android:name=".Menu.PushActivity" />
        <activity android:name=".Menu.MenuLogin.JoinActivity" />
        <activity android:name=".Menu.MenuLogin.JoinUserActivity" />
        <activity android:name=".Menu.MenuCustomer.NoticeActivity" />
        <activity android:name=".Menu.MenuCustomer.TermsActivity" />

        <meta-data
            android:name="com.didimdol.skt.kimjh.onix.MyGlideModule"
            android:value="GlideModule" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.didimdol.skt.kimjh.onix" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GCM.MyGcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".GCM.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".GCM.RegistrationIntentService"
            android:exported="false" />

        <activity android:name=".Shop.ShopMapActivity" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1709700985974822"
            android:exported="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".NickNameActivity"></activity>
    </application>

</manifest>
